body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../image/wooden.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.icon {
    color: white;
}

.name {
    color: white;
}

.name::after {
 content: '';
 display: block;
 width: 0;
 height: 2px;
 background: #fff;
 transition: width .3s;
}

.name:hover::after {
 width: 100%;
 transition: width .3s;
}

ul {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px 0;
    background: #fff;
    display: flex;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.2);
}

ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: inline-block;
    color: #fff;
     
}

img {
    position: absolute;
    border: 3px solid;
    border-radius: 50%;
    border-color: #fff;
    top: 250px;
    left: 700px;
    width: 300px;
}

h2 {
    position: absolute;
    top: 550px;
    width: 400px;
    left: 680px;
    color: #fff;
    font-size: 30px;
}

.text {
    color: #fff;
    font-size: 20px;
}

.container {
    top: 700px;
    width: 1400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

.container .box {
    position: relative;
    width: 360px;
    height: 400px;
    background: rgba(0,0,0,.2);
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 20px;
}

.container .box:hover {
    box-shadow: -10px 25px 50px rgba(0,0,0,.7);
}

.social ul {
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 0;
    background: #fff;
    display: flex;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.2);
}

.finalmente {
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 10px;
    background: #fff;
    display: flex;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.2);
}

.mascote img {
    position: absolute;
    border: 3px solid;
    border-radius: 50%;
    border-color: #fff;
    width: 13%;
    top: 1250px;
    left: 44%;
}

.icon {
    font-size: 30px;
}
